/* 
	_.-^^-^-^-^-^-^-._       
 _--                  --_  
<                         >
|                         | 
 \._                   _./  
	```--. . , ; .--'''       
		  | |   |             
	   .-=|||   |=-.   
	   `-=#$%&%$#=-'   
		  | ;  :|     
 _____.,-#%&$@%#&#~,._____

Portfolio Projects

	- navbar
		- responsive
	- hero
	- project about
		- responsive
	- project description
		- responsive
	- project slider
	- testimonials
		- responsive
	- slider
*/

/* navbar ------------------------------------ */
#navbar {
	position: fixed;
	top: 0;
	z-index: 999;
	text-align: center;
	width: 100%;
	display:block;
	transition: top 0.3s;
 }
#navbar a {
	display: inline-block;
	width: 100%;;
	font-family: "montserrat-light", sans-serif;
	font-size: .95em;
    padding: 1.25rem 5rem;
	color: #f2f2f2;
	text-decoration: none;
	background-color: #1483bd;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}
#navbar a:hover {
	color: #fff;
	background-color: #076699;
}
#navbar span {
	font-family: "montserrat-regular", sans-serif;
	font-size: .85em;
}
/* responsive: navbar ------------------------ */
@media only screen and (max-width: 400px) {
	#navbar a {
		font-size: 0.9em;
		padding: 2rem 0;
	}
}
/* hero -------------------------------------- */
.portfolio-project {
	margin-bottom: -35vh;
}
.home-content__main {
	padding-top: 15rem;
	max-width: 700px;
}
h1.project-title {
	font-family: "montserrat-regular", sans-serif;
	font-size: 5.5rem;
	text-align: center;
	letter-spacing: .0075rem;
	max-width: 760px;
	margin: 0 auto;
	text-shadow: -0.45rem 0.35rem 0.1rem rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 900px) {
	.portfolio-project {
		margin-bottom: -30vh;
	}
	.home-content__main {
		padding-top: 10rem;
	}
	h1.project-title {
		font-size: 4.5rem;
	}
}

/* project description ----------------------- */
.p-decription {
	position: relative;
	padding:0;
	margin: 0 auto;
	background-color: #fff;
}
h3.project-desc {
	font-family: "montserrat-regular", sans-serif;
    font-size: 2.35rem;
    line-height: 1;
    color: #1483bd;
    max-width: 860px;
    margin: 5rem auto 0 auto;
}
p.project-desc {
	font-family: "montserrat-light", sans-serif;
	font-size: 1.6rem;
	text-align: left;
	color: #000;
	line-height: 1.75em;
	text-shadow: none;
	max-width: 860px;
	margin: 2.25rem auto 3rem auto;
}
p.project-desc a {
	text-decoration: underline;
}
img.img-desc {
	width: 100%;
	max-width: 700px;
	height: auto;
	margin: 6rem auto;
	display: block;
	border: solid 1px #ddd;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}
div.theme-features{
	margin: 0 auto;
	max-width: 860px;
	display: flex;
	justify-content: flex-start;
}
ul.project-features-list {
	list-style-type: none;
    margin: 3rem 15rem 0 0;
    font-family: "montserrat-light", sans-serif;
    font-size: 1.6rem;
    line-height: 4rem;
    color: #000;
}
ul.project-features-list li i {
	color: #1483bd;
	font-size: 1rem;
	vertical-align: text-top;
	margin: 2px 5px 0 2px;
}
/* responsive: description-------------------- */
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 900px) {
	div.theme-features {
		flex-wrap: wrap;
	}
	ul.project-features-list {
		margin: 3rem 2rem 0 0;
	}
}
@media only screen and (max-width: 600px) {
	ul.project-btns {
		flex-direction: column;
  		text-align: center;
	}
	ul.project-btns li {
		font-size: 2.25rem;
		margin: 2rem 0 2rem 0;
	}
	ul.project-btns li i {
		font-size: 2.5rem;
	}
}
@media only screen and (max-width: 400px) {
}


/* project about ----------------------------- */
.p-about {
	position: relative;
    margin: 0 auto;
    padding: 4rem 0;
    border-bottom: solid 1px rgba(8, 142, 212, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
.p-about .section-header {
	position: relative;
	margin: -15rem auto 0 auto;
	width: 94%;
	max-width: 1200px;
	padding: 6rem 0;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 2px 25px 45px 5px rgba(0,0,0,0.2);
}
*/
.p-about .section-header.has-bottom-sep::before {
	background-color: rgba(0, 0, 0, 0.08);
}
.about-desc {
	max-width: 1100px;
	position: relative;
	z-index: 9;
}
ul.project-about {
	display: flex;
    flex-wrap: wrap;
    max-width: 860px;
    margin: 2rem auto;
    list-style-type: none;
    justify-content: start;
}
ul.project-about li {
	font-family: "montserrat-light", sans-serif;
	font-size: 1.6rem;
	line-height: 5rem;
	margin-right: 6rem;
	color: #1483bd;
}
ul.project-about li:last-child {
	margin-right: 0;
}
ul.project-about li i {
	color: #1ea3e8;
	font-size: 1rem;
	vertical-align: text-top;
	margin: 2px 0px 0 0;
}
p.project-about {
	font-family: "montserrat-light", sans-serif;
	font-size: 1.6rem;
	text-align: left;
	color: #000;
	line-height: 1.75em;
    text-shadow: none;
    max-width: 860px;
    margin: 2.25rem auto 3rem auto;
}
a.site-link {
	font-family: "montserrat-light", sans-serif;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem 2.5rem;
    border-radius: 3px;
    float: right;
    right: 0;
    margin: 2rem auto 0 auto;
    background: linear-gradient(to bottom, #40c152 0%, #29ab3b 100%);
}
a.site-link:hover {
	background: linear-gradient(to bottom, #29ab3b 0%, #40c152 100%);
}

ul.project-btns {
	display: flex;
	flex-wrap: wrap;
	max-width: 700px;
	margin: 3rem auto;
	list-style-type: none;
	justify-content: space-between;
}
ul.project-btns li {
	font-family: "montserrat-light", sans-serif;
	font-size: 1.65rem;
}
ul.project-btns li a {
	color: #0ed229;
	text-decoration: underline;
}
ul.project-btns li a:hover {
	color: #33a242;
	text-decoration: none;
}
ul.project-btns li i {
	font-size: 2rem;
	vertical-align: text-top;
	margin: -2px 0 0 0;
}
ul.project-btns li.dwnld a {
	background-color: #0ed229;
	color: #fff;
	padding: 1rem 1.5rem;
}
ul.project-btns li.dwnld a:hover {
	background-color: #33a242;
}
/* responsive: about ------------------------- */
@media only screen and (max-width: 1200px) {
	.about-desc {
		font-size: 2.2rem;
		max-width: 940px;
	}
}
@media only screen and (max-width: 800px) {
	.about-desc {
		font-size: 2rem;
		max-width: 600px;
	}
	p.about {
		margin: 0;
	}
}
@media only screen and (max-width: 600px) {
	.p-about {
		padding-top: 12rem;
	}
	.about-desc {
		font-size: 1.9rem;
	}
	a.site-link {
		float: none;
		display: table;
		margin: 4rem auto 0 auto
	}
}
@media only screen and (max-width: 400px) {
	.about-desc {
		font-size: 1.8rem;
	}
}

/* section NDA ------------------------------- */
section.nda {
	position: relative;
	padding: 7rem 0;
	background-color: #e7f1ff;
}
h6.nda {
	margin: 0 auto;
	text-align: center;
    font-size: 1.75rem;
    color: rgba(86, 176, 255, 0.65);
}





/* projects slider --------------------------- */
.p-other {
	margin-top: 3rem;
	padding: 8rem 0;
	background-color: #f9faff;
    box-shadow: inset 0px 1px 1px 0px rgba(8, 142, 212, 0.15);
    -webkit-box-shadow: inset 0px 1px 1px 0px rgba(8, 142, 212, 0.15);
    -moz-box-shadow: inset 0px 1px 1px 0px rgba(8, 142, 212, 0.15);
}
.clients-outer {
	margin-top: 3.6rem;
	padding-bottom: 9rem;
	text-align: center;
	position: relative;
}
.clients__slide {
	display: block;
	opacity: .55;
	padding: 1.5rem 2.8rem;
	-webkit-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}
.clients__slide:hover, .clients__slide:focus {
	opacity: 1;
}
/* testimonials ------------------------------ */
.clients-testimonials {
	margin-top: 4.2rem;
	padding-top: 7.2rem;
	text-align: center;
	position: relative;
}
.clients-testimonials::before {
	content: "";
	display: block;
	height: 1px;
	width: 550px;
	background-color: rgba(0, 0, 0, 0.1);
	text-align: center;
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.clients-testimonials .testimonials {
	margin: 0 10%;
}
.clients-testimonials .testimonials p {
	font-size: 3rem;
	line-height: 1.8;
	color: #555555;
	margin-bottom: 6rem;
}
.clients-testimonials .testimonials__slide {
	padding: 0 0 3rem 0;
}
.clients-testimonials .testimonials__avatar {
	height: 8.4rem;
	width: 8.4rem;
	border-radius: 50%;
	margin: 0 auto 1.2rem auto;
}
.clients-testimonials .testimonials__name,
.clients-testimonials .testimonials__pos {
	display: block;
}
.clients-testimonials .testimonials__name {
	font-family: "montserrat-semibold", sans-serif;
	color: #000000;
}
.clients-testimonials .testimonials__pos {
	font-family: "montserrat-light", sans-serif;
	font-size: 1.4rem;
}
.clients-testimonials .testimonials .slick-arrow {
	position: absolute;
	top: 7.2rem;
	width: 66px;
	height: 66px;
	margin: 0;
	padding: 0;
	background-color: transparent;
	background-repeat: no-repeat;
	background-size: 22px 15px;
	background-position: center;
	border: none;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	z-index: 2;
}
.clients-testimonials .testimonials .slick-prev {
	left: -130px;
	background-image: url("../images/left-arrow.png");
}
.clients-testimonials .testimonials .slick-next {
	right: -130px;
	background-image: url("../images/right-arrow.png");
}
.clients-testimonials .testimonials .slick-dots {
	margin-top: -0.6px;
}
/* responsive: clients ----------------------- */
@media only screen and (max-width: 1200px) {
	.clients-testimonials .testimonials {
		margin: 0 12%;
	}
	.clients-testimonials .testimonials p {
		font-size: 2.6rem;
	}
	.clients-testimonials .testimonials .slick-prev {
		left: -100px;
	}
	.clients-testimonials .testimonials .slick-next {
		right: -100px;
	}
}
@media only screen and (max-width: 1000px) {
	.clients-testimonials .testimonials p {
		font-size: 2.2rem;
	}
}
@media only screen and (max-width: 800px) {
	.clients-testimonials::before {
		width: 400px;
	}
	.clients-testimonials .testimonials {
		margin: 0 2rem;
	}
	.clients-testimonials .testimonials .slick-arrow {
		top: auto;
		bottom: 3rem;
	}
	.clients-testimonials .testimonials .slick-prev {
		left: 0;
	}
	.clients-testimonials .testimonials .slick-next {
		right: 0;
	}
}
@media only screen and (max-width: 600px) {
	.s-clients {
		padding-top: 12rem;
	}
	.clients-testimonials::before {
		width: 250px;
	}
	.clients-testimonials .testimonials {
		margin: 0;
	}
	.clients-testimonials .testimonials p {
		font-size: 2rem;
	}
}
@media only screen and (max-width: 400px) {
	.clients-testimonials .testimonials p {
		font-size: 1.9rem;
	}
}

/* slider ------------------------------------ */
.slick-slider .slick-slide {
	outline: none;
}
.slick-slider .slick-dots {
	display: block;
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 3rem 0 0 0;
	text-align: center;
	position: absolute;
	top: 100%;
	left: 0;
}
.slick-slider .slick-dots li {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin: 0;
	padding: 15px;
	cursor: pointer;
}
.slick-slider .slick-dots li button {
	display: block;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #999;
	border: none;
	line-height: 10px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
}
.slick-slider .slick-dots li button:hover,
.slick-slider .slick-dots li button:focus {
	outline: none;
}
.slick-slider .slick-dots li.slick-active button,
.slick-slider .slick-dots li:hover button {
	background: #126e89;
}